{% load staticfiles %}

<html>
    <head>
        <title>kaching</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/store.css" %}">
    </head>

    <body>
        <header>
            <h1><a href="/">kaching</a></h1>
        </header>

        <section class="content container">
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>